button {
  background-color: red;
  border-color: red;
}

form {
  display: flex;
  flex-direction: column;
  label {
    color: rgb(255, 0, 0);
  }
  div {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    border: solid;
    width: min-content;
  }
}
